*, *:before, *:after {
  box-sizing: inherit;
}
* {
  outline-width: 0;
}
.nbs .white-background, body .white-background {
  background: #fff;
  color: #17315a;
}
.new-encova .nbs, .new-encova body {
  color: #17315a;
}
.nbs, body {
  font-size: 14px;
  line-height: 20px;
  color: #17315a;
  font-family: "GothamHTF",Arial,Helvetica,sans-serif;
  font-weight: 300;
}
html.md-default-theme, html, body.md-default-theme, body {
  color: rgba(0,0,0,0.87);
  background-color: #fff;
}